---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About Cyril Duval">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/sport.jpg"
          alt="Cyril Duval playing sports"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a passionnate data analyst with 10 years of experience in the
            field. I have a strong background in data analysis and data
            visualization. I have worked on a variety of projects, including
            data mining, predictive modeling, and natural language processing.
          </p>
          <p>
            I am using data to solve complex problems and to make informed
            decisions. I have experience working with a variety of tools and
            technologies, including SQL, VBA and Power BI. I learned to code in
            Python to automate data analysis tasks and to create custom data
            visualizations. I have a strong understanding of statistical
            analysis and machine learning techniques, and I am always looking
            for new ways to apply these skills to real-world problems.
          </p>
          <p>
            I am a team player and I enjoy collaborating with others to achieve
            common goals. I am always looking for new opportunities to learn and
            grow as a data analyst, and I am excited to see where my career will
            take me in the future. I try to stay up-to-date with the latest
            trends and developments in the field of data analysis, and I am
            always looking for new ways to improve my skills and knowledge. I am
            passionate about using data to make a positive impact on the world,
            and I am excited to continue my journey as a data analyst.
          </p>
          <p>
            In my free time, I enjoy playing sports, traveling and spending time
            with my family and friends.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Associate's degree in Computer Science</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>Power BI, VBA, SQL, Flutter, Python</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
